<div>
    <form ng-submit="$ctrl.submit()">
        <ul>
            <li ng-repeat="question in $ctrl.questions">
                {{question.name}}
                <ul>
                    <li ng-repeat="answer in question.answers">
                        <input type="checkbox" name="{{question.id}}" ng-model="answer.answer"> 
                        <label>{{answer.name}}</label>
                    </li>
                </ul>
            </li>
        </ul>
        <input type="submit" value="Send">
    </form>
    <p>Your result is {{$ctrl.result.result}}%</p>
</div>
