<div class="container">
    <form class="form-signin" role="form">
        <h2 class="form-signin-heading">Please sign in</h2>
        <input type="text" name="login" pattern="^[a-z0-9_-]{3,16}$" placeholder="login" class="form-control" required autofocus>
        <input type="password" name="password" pattern=^[a-z0-9_-]{6,18}$ required="true" placeholder="password" class="form-control" required>
        <a href="#!/topic" class="btn btn-lg btn-primary btn-block">Sign in</a>
    </form>
</div>
